@page
@using Checklist.Component
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">My Anime List Clone</h1>
</div>

@(await Html.RenderComponentAsync<AnimeList>(RenderMode.ServerPrerendered))

<script src="_framework/blazor.server.js"></script>